@import "../../node_modules/datatables.net-dt/css/jquery.dataTables.css";

body {
    background: #fff4f4;
    font-family: sans-serif;
}

header, footer {
    border-top: #e74898 solid 3px;
    border-bottom: #e74898 solid 3px;
    padding: 0.5em;
}

h1, h2, h3, h4 {
    color: #310c58;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul+ul {
    margin-top: 0.25em;
    padding-top: 0.25em;
    border-top: #e74898 solid 2px;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
}

#main {
    padding: 0.5em;
}

#message {
    margin: 1em;
    border: #310c58 solid 1px;
    padding: 1em;
}

form {
    margin-bottom: 1em;
}

td, th {
    border: thin #310c58 solid;
    padding: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th[scope=row] {
    text-align: right;
}

table.dataTable thead td,
table.dataTable thead th,
table.dataTable tfoot th,
table.dataTable tfoot td,
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px;
}


.highnotice {
    font-weight: bold;
    color: #310c58;
}

div.profilebox {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: thin dotted #310c58;
}

div.error {
    background: #fcc;
    color: #400;
    border: thick solid #700;
    font-size: 110%;
    padding: 1em;
}
